<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title pull-left"><% if task.state == "done" %>
			<strike>
				Task
			</strike>
			<% else %>
			Task
			<% end %>
		</h3> 
		<div class="pull-right">
			<%= link_to "x", task_path(task), method: :delete, class: "delete_task", data: { confirm: "Are you sure?" } %>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body">
		<%= task.content %>
	</div>

	<div class="panel-footer">
		<% case task.state when "to_do" %>
		<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, doing_task_path(task), method: :put, class: "btn btn-info btn-md btn-block" %>
		<% when "doing" %>
		<div class="btn-group btn-group-justified">
 		 <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, todo_task_path(task), method: :put, class: "btn btn-info btn-md" %>
		<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, done_task_path(task), method: :put, class: "btn btn-info btn-md" %>
		</div>
		<% when "done" %>
		<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, doing_task_path(task), method: :put, class: "btn btn-info btn-md btn-block" %>
		<% end %>
	</div>
</div>